:root {
  --black: #2d3440;
  --grey: #fcfcfc;
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/inter-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/inter-700.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/inter-900.woff2") format(woff2);
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  background-color: #feafc3;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 1170px;
  min-height: 100vh;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  min-height: 104px;
  padding: 24px 0;
}

.logo {
  display: block;
}

.nav-menu__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav-menu__item {
  list-style: none;
}

.nav-menu__item-catalog {
  position: relative;
}

.nav-menu__link {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--black);
  text-decoration: none;
  padding: 8px 16px;
}

.nav-menu__link-catalog {
  position: relative;
  padding-right: 38px;
  transition: all 0.3s ease-in;
}

.has-submenu .nav-menu__link-catalog {
  background-color: #ff4a78;
  border-radius: 30px;
  color: var(--grey);
}

.nav-menu__link-catalog::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 16px;
  height: 16px;
  mask: url("../images/icons/icon-arrow-down.svg");
  -webkit-mask: url("../images/icons/icon-arrow-down.svg");
  background-color: var(--black);
  background-position: center;
  transition: all 0.3s ease-in;
}

.has-submenu .nav-menu__link-catalog::before {
  top: 55%;
  transform: translateY(-50%) rotateX(180deg);
  mask: url("../images/icons/icon-arrow-down.svg");
  -webkit-mask: url("../images/icons/icon-arrow-down.svg");
  background-color: var(--grey);
}

.nav-menu__submenu {
  display: none;
  position: absolute;
  bottom: -213px;
  flex-direction: column;
  width: 135px;
  min-height: 188px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  margin: 0;
  padding: 8px 0;
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
  z-index: 2;
}

.has-submenu .nav-menu__submenu {
  display: flex;
  opacity: 1;
  animation: menu-appearance 0.4s ease-in-out;
}

@keyframes menu-appearance {
  from {
    opacity: 0.2;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(1);
  }
}

.nav-menu__submenu-item {
  list-style: none;
}

.nav-menu__submenu-link {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--black);
  text-decoration: none;
  padding: 8px 14px 8px 15px;
}

.nav-menu__submenu-link--favorite {
  position: relative;
  font-weight: 700;
  margin-bottom: 9px;
}

.nav-menu__submenu-link--favorite::before {
  position: absolute;
  content: "";
  bottom: -9px;
  width: 103px;
  height: 1px;
  background-color: #b9b9b9;
  margin: 4px 0;
}

.header-contacts {
  margin-left: auto;
}

.header-tel {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: var(--black);
  text-decoration: none;
}

.header-menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.header-menu__item {
  list-style: none;
}

.header-menu__link {
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: var(--black);
  text-decoration: none;
  padding: 6px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.header-menu__link-search {
  min-width: 32px;
  min-height: 32px;
  background-image: url("../images/icons/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}

.header-menu__link-cabinet,
.header-menu__link-basket {
  background-image: url("../images/icons/icon-login.svg");
  background-repeat: no-repeat;
  background-position: left 16px center;
  padding-left: 38px;
}

.header-menu__link-basket {
  background-image: url("../images/icons/icon-cart.svg");
}

.main-index {
  flex-grow: 1;
}

.slider {
  position: relative;
  min-height: 554px;
  margin-bottom: 80px;
}

.slider__list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1170px;
  min-height: 554px;
}

.slider__item {
  display: flex;
  list-style: none;
}

.slider__item:not(:last-child) {
  margin-right: 40px;
}

/* Класс для отображения активного слайда */
.slider__item--active .slider__text-wrapper {
  display: block;
  margin-right: 19px;
}

.slider__item--active .slider__image-wrapper {
  width: 328px;
  height: 507px;
}

.slider__item--active .slider__button-prev,
.slider__item--active .slider__button-next {
  display: block;
}

.slider__item--active .slider__img {
  margin-top: 21px;
}

.slider__item--active .slider__image-wrapper::before {
  width: 327px;
  height: 312px;
  border-radius: 327px;
}

.slider__text-wrapper {
  display: none;
  width: 470px;
  margin: auto 0 auto 70px;
}

.slider__title {
  font-size: 36px;
  font-weight: 900;
  width: 470px;
  margin: 0 0 24px 0;
}

.slider__decs {
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  width: 429px;
  margin: 0 0 48px 0;
}

.button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: var(--black);
  background-color: var(--grey);
  padding: 12px 32px;
  border-radius: 26px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border: none;
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.slider__image-wrapper {
  position: relative;
  display: flex;
  width: 100px;
  height: 150px;
  margin: auto;
}

.slider__image-wrapper::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffcbd8;
}

.slider__button-prev,
.slider__button-next {
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 38px;
  height: 38px;
  border-radius: 26px;
  border: 2px solid var(--grey);
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
  z-index: 3;
}

.slider__button-next {
  right: 0;
  transform: translate(50%, -50%);
}

.slider__button-prev::before,
.slider__button-next::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 16px;
  height: 16px;
  mask: url("../images/icons/icon-arrow-down.svg");
  -webkit-mask: url("../images/icons/icon-arrow-down.svg");
  background-color: var(--grey);
}

.slider__button-next::before {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.slider__img {
  display: block;
  z-index: 2;
}

.slider__pagination {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.slider__pagination-item {
  list-style: none;
}

.slider__pagination-item:not(:last-child) {
  margin-right: 8px;
}

.slider__pagination-button {
  width: 12px;
  height: 12px;
  background-color: var(--grey);
  border: none;
  border-radius: 50%;
  opacity: 0.3;
}

.slider__pagination-button--active {
  opacity: 1;
}

.slider__social-list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.social-item {
  list-style: none;
}

.social-item:not(:last-child) {
  margin-right: 16px;
}

.social-link {
  display: block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.title {
  color: var(--black);
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
}

.gifts {
  margin-bottom: 80px;
}

.gifts__title {
  text-align: center;
  width: 440px;
  margin: 0 auto 55px auto;
}

.gifts__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gifts__item {
  width: 570px;
  height: 268px;
  background-color: #ff7799;
  border-radius: 16px;
  list-style: none;
  padding: 36px 0 36px 36px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.gifts__item--raspberry {
  background-image: url("../images/raspberry.png");
}

.gifts__item--marshmallow {
  background-image: url("../images/marshmallow.png");
}

.gifts__item-title {
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  width: 305px;
  margin: 0 0 28px 0;
}

.gifts__item-desc {
  color: var(--black);
  width: 305px;
  margin: 0 0 28px 0;
}

.popular {
  margin: 0 0 80px 0;
}

.popular__title {
  text-align: center;
  width: 528px;
  margin: 0 auto 56px auto;
}

.popular__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.popular__item {
  position: relative;
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  text-align: center;
  width: 270px;
  min-height: 281px;
  background-color: var(--grey);
  border-radius: 8px;
  padding: 133px 40px 28px 40px;
  margin-top: 51px;
  list-style: none;
}

.popular__img {
  position: absolute;
  border-radius: 50%;
  top: -51px;
  left: 50%;
  transform: translateX(-50%);
}

.popular__item-title {
  grid-column: 1/-1;
  margin: 0 0 8px 0;
}

.popular__item-desc {
  grid-column: 1/-1;
  margin: 0 0 16px 0;
}

.popular__item-cost {
  align-self: center;
  justify-self: start;
}

.popular__item-button {
  position: relative;
  justify-self: end;
  align-self: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ff2f64;
  border: none;
  cursor: pointer;
}

.popular__item-button::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  mask: url("../images/icons/icon-cart.svg");
  -webkit-mask: url("../images/icons/icon-cart.svg");
  background-color: var(--grey);
}

.advantages {
  min-height: 480px;
  border-radius: 16px;
  background-image: url("../images/wafer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 24px;
}

.advantages__wrapper {
  width: 1122px;
  min-height: 432px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 56px 40px;
}

.advantages__title {
  text-align: center;
  margin: 0 auto 56px auto;
  width: 995px;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 32px;
  margin: 0;
  padding: 0;
}

.advantages__item {
  list-style: none;
  width: 505px;
  padding-left: 64px;
  background-repeat: no-repeat;
  background-position: top 0 left 0;
}

.advantages__item--production {
  background-image: url("../images/icons/icon-ice-cream.svg");
}

.advantages__item--purchase {
  background-image: url("../images/icons/icon-cow.svg");
}

.advantages__item--natural {
  background-image: url("../images/icons/icon-leaf.svg");
}

.advantages__item--thermopack {
  background-image: url("../images/icons/icon-thermometer.svg");
}

.advantages__item-desc {
  width: 442px;
  margin: 0;
}
